<a href="https://colab.research.google.com/github/swimming123/naver_boostcourse_2207/blob/week3/week3_gugudan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#구구단 만들기
#홀수번째만 출력
#50이하만 출력

In [ ]:
#구구단

for i in range(2,50) : 
  for j in range(1,50) : 
    if j%2==0 : 
      continue
    value = i * j  
    print(value)

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [6]:
for i in range(2,10):  
  print('---{}단---'.format(i))      # 1번 for문
  for j in range(1, 10):     # 2번 for문 
    if j%2==0:               # 짝수번째 continue로 출력 제외
      continue
    if i*j>50 :              # 50이상 인 값 출력 제외
      continue
    print('{} X {} = {} '.format(i, j, i*j))

---2단---
2 X 1 = 2
2 X 3 = 6
2 X 5 = 10
2 X 7 = 14
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 3 = 12
4 X 5 = 20
4 X 7 = 28
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 3 = 18
6 X 5 = 30
6 X 7 = 42
---7단---
7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49
---8단---
8 X 1 = 8
8 X 3 = 24
8 X 5 = 40
---9단---
9 X 1 = 9
9 X 3 = 27
9 X 5 = 45